.YourNotesContainer{
    background-color: rgb(218, 146, 146);
    
    height: 450px;
    padding: 30px;
    background-image: linear-gradient(#8360c3,#2ebf91);
    
}

@keyframes multicolor {
    0%   {color: red;}
  
  50%  {color: yellow;}
  100% {color: orangered;}
}

@ketframes cardup {
    from {opacity:60%;
        
        top:0;}
    to{
        opacity: 20%;
        
        top:200px;
    }
}

#yourNotesTitle{
    font-family:"Patrick hand";
    z-index: 2;
    box-shadow:2px 2px 2px 2px rgb(20, 19, 19);
    width:220px;
    padding: 5px;
    border-radius: 6px;
    animation-name: multicolor;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}


.cardHolder{
    width: 100%;
    height: 85%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 6px;
    overflow: auto;
    background-color: saddlebrown;
    box-shadow: 2px 2px 1px 1px rgb(59, 52, 52);
    background-image: linear-gradient(#ff4e50,#f9d423);
    
}


.card{

    
    width: 200px;
    height: 275px;
    padding: 10px;
    overflow: auto;
    position: relative;
    border-radius: 6px;
    background-color: rgb(104, 132, 218);
    box-shadow: 2px 2px 4px 4px rgb(59, 52, 52);
    cursor: pointer;
    margin: 10px 0;
    transition-duration: 300ms;
    transition-property: all;
    

}

.card:hover{
    background-color: limegreen;
    box-shadow: 2px 2px 7px 7px rgb(59, 52, 52);

}

.card:active{
    animation-name: cardup ;
    animation-duration: 6s;
    

}
.card::-webkit-scrollbar {
    display: none;
}

.cardHolder::-webkit-scrollbar{
    display: none;
}

.cardTitle{
    
    font-size: x-large;
}
.cardContent{
    
    font-size: small;
}

.yourNotesTitle{
    margin-left: 200px;
    display: inline;
}


.searchNotes{
    float: right;
    padding: 10px 20px;
    
    border-radius: 6px;
    border: none;
    background-color: rgb(200, 102, 91);
    margin: 5px auto;
    color: rgb(216, 208, 224);
    outline: none;
    box-shadow: 2px 2px 2px 2px rgb(59, 52, 52);
}

.searchNotes::-webkit-input-placeholder { 
    color: rgb(17, 13, 13);
    font-family: cursive;
  }

#noteButton{
    border-radius:6px;
    padding:4px 25px;
    font-family:cursive;
    color:white;
    background-color:red;
    border:none;
    box-shadow:2px 2px 2px 2px rgb(59, 52, 52);
    transition-duration: 300ms;
    transition-property: all;
}

#noteButton:hover{
    box-shadow: 2px 2px 4px 4px rgb(59, 52, 52);
    background-color: cyan;
    color:black;

}


.zoomCard{
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .yourNotesTitle{
        display: block;
        margin: 10px auto;
    }
    .YourNotesContainer{
        height: 550px;
    }
    .cardHolder{
        height: 400px;
    }
    .searchNotes{
        display: none;
    }
  }